header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 4rem;
}

.avatar {
  width: 120px;
  border-radius: 100px;
}

a {
  margin-inline: 0.5rem;
  color: var(--color-primary-font);
}

@media (max-width: 425px) {
  header {
    padding-inline: 2rem;
  }
  .avatar {
    width: 90px;
    border-radius: 100px;
  }

  .menu__button {
    margin-left: 1rem;
  }
}
